@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * since tina renders markdown without classes, we have to define them here
 * unfortunately this means that "normal" text can't be customized without a 
 * special block
 */
@layer base {
    .content-block h1, .h1 {
        @apply text-h1sm md:text-h1 uppercase my-8 font-extrabold;
    }
    .content-block h2, .h2 {
        @apply text-h2sm md:text-h2 uppercase my-6;
    }
    .content-block h3, .h3 {
        @apply text-h3sm md:text-h3 uppercase my-4 font-semibold;
    }
    .content-block h4, .h4 {
        @apply text-h4sm md:text-h4 uppercase my-4;
    }
    .content-block h5, .h5 {
        @apply text-h5 uppercase mb-4 font-bold my-4;
    }
    .content-block h6, .h6 {
        @apply text-h6 uppercase mb-4 font-medium my-4;
    }
    .content-block p, .p {
        @apply text-p my-4;
    }

    .scrollbar-hide {
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}
